asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
crispy-bootstrap5==0.6
distlib==0.3.4
Django==4.0.4
django-admin-list-filter-dropdown==1.0.3
django-crispy-forms==1.14.0
django-grappelli==3.0.3
django-thaidate==1.0.2
django-timelimit==0.3
et-xmlfile==1.1.0
filelock==3.7.0
idna==3.3
lxml==4.8.0
mysqlclient==2.1.0
openpyxl==3.0.10
platformdirs==2.5.2
python-docx==0.8.11
pytz==2021.3
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.1.1
tzdata==2022.1
urllib3==1.26.8
virtualenv==20.14.1
XlsxWriter==3.0.3
